	{% extends "disease_page.html" %}
	{% block page %}
	<br>
	<br>
	<br>
	<div id="disease_page">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.5s">
							<h3>Enfermedad Hepática</h3>
							<h4>Descripcion General</h4>
							<p>	El hígado es un órgano del tamaño de una pelota de fútbol americano. Se encuentra justo debajo de la caja torácica, en el lado derecho del abdomen. El hígado es esencial para digerir los alimentos y eliminar las sustancias tóxicas del cuerpo.

								La enfermedad hepática puede ser hereditaria (genética). Los problemas hepáticos también pueden ser causados ​​por una variedad de factores que dañan el hígado, como los virus, el consumo de alcohol y la obesidad.
								
								Con el tiempo, las afecciones que dañan el hígado pueden provocar cicatrices (cirrosis), que pueden provocar insuficiencia hepática, una afección potencialmente mortal. Sin embargo, el tratamiento temprano puede darle tiempo al hígado para sanar.
							</p>
							
						</div>
						
						<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
							<img class="ill_image" src="./static/images/disease_img/theliver1.jpg">
						</div>
					</div>
					<div class="row">
						<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
							<h4>Sintomas</h4>
							<p>La enfermedad hepática no siempre causa signos y síntomas notorios. Si se presentan signos y síntomas de enfermedad hepática, estos pueden incluir:</p>
							<ul>
								<li>Piel y ojos que se ven amarillentos (ictericia)</li>
								<li>Dolor abdominal e hinchazón</li>
								<li>Hinchazón en las piernas y los tobillos</li>
								<li>Piel con picazón</li>
								<li>Color de orina oscuro</li>
								<li>Color de las heces pálido</li>
								<li>Fatiga crónica y pérdida de apetito</li>
								<li>Náuseas o vómitos</li>
							</ul>

						</div>
					</div>
					
				</div>
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 wow fadeInRight" style="display: inline-block;vertical-align: middle;"  data-wow-delay="0.5s">
							<h3>Modelo</h3>
							<p>Para realizar el diagnóstico es necesario ingresar los siguientes datos:</p>
							<ul>
								<li>Edad: edad del paciente</li>
								<li>Género: Masculino, Femenino u Otro</li>
								<li>Bilirrubina Total: resultado de un análisis de sangre que mide la cantidad de una sustancia llamada bilirrubina</li>
								<li>Bilirrubina Directa: resultado de un análisis de sangre que mide la cantidad de bilirrubina directa</li>
								<li>Fosfatasa Alcalina: resultado de un análisis de sangre que mide la cantidad de una enzima llamada fosfatasa alcalina</li>
								<li>Alanina Aminotransferasa: resultado de un análisis que mide la cantidad de una enzima llamada alanina aminotransferasa</li>
								<li>Aspartato Aminotransferasa: resultado de un análisis que mide la cantidad de la enzima aspartato aminotransferasa</li>
								<li>Proteínas Totales: un análisis de proteínas totales mide la suma de todos los tipos de proteínas en la sangre</li>
								<li>Albúmina: resultado de un análisis de sangre de albúmina que mide la cantidad de albúmina en tu sangre. La albúmina es una proteína producida por el hígado</li>
								<li>Relación Albúmina-Globulina: resultado de un análisis que compara las concentraciones de albúmina y globulina en la sangre</li>

							</ul>
						</div>
						
					<div class="col-md-6 col-sm-6  wow fadeInRight" data-wow-delay="0.5s">
						<div class="flex-wrapper">
						<div class="single-chart">
							<svg viewBox="0 0 36 36" class="circular-chart orange">
							<path class="circle-bg"
								d="M18 2.0845
								a 15.9155 15.9155 0 0 1 0 31.831
								a 15.9155 15.9155 0 0 1 0 -31.831"
							/>
							<path class="circle"
								stroke-dasharray="86, 100"
								d="M18 2.0845
								a 15.9155 15.9155 0 0 1 0 31.831
								a 15.9155 15.9155 0 0 1 0 -31.831"
							/>
							<text x="18" y="20.35" class="percentage">84%</text>
							</svg>
							<h4 style="text-align: center;">Precisión</h4>
						</div>
						</div>
						</div>
					</div>
							
					</div>
				</div>
				<br>
				<br>
				<br>
				<div class="prediction text-center">
					<a href="/liver_form" class="smoothScroll btn btn-success wow fadeInDown" data-wow-delay="2000">Predecir</a>
				</div>
				<br>
				<br>
				<br>
				<br>

			</div>
			

	{% endblock %}



