{% extends "disease_page.html" %}
{% block page %}
  <br>
  <br>
  <br>
  <br>
<div class="container">
  <form action="/predict" method="POST">
    <h3>Introduzca los siguientes parámetros:</h3>
    <hr>

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
          <label for="age">Edad</label>
          <input class="form-control" type="number" min="0" required="required" name="age", placeholder="edad">
        </div>
        <div class="col-md-4 col-md-offset-4 ">
          <label for="avg_glucose_level">¿Cuál es su nivel promedio de glucosa?</label>
          <input class="form-control" type="number" min="0" step="any" id="avg_glucose_level" name="avg_glucose_level" required="required" placeholder="Nivel promedio de glucosa">
        </div>
          
        <div class="col-md-4 col-md-offset-4">
          <label for="hypertension">¿Tienes hipertensión?</label>
          <select class="form-control" id="hypertension" name = "hypertension" required="required" placeholder="hypertension">
            <option value="1">si</option>
            <option value="0">no</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="heart_disease">¿Sufre usted de una enfermedad cardíaca?</label>
          <select class="form-control" id="heart_disease" name = "heart_disease" required="required" placeholder="heart_disease">
            <option value="1">si</option>
            <option value="0">no</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="gender">Genero</label>
          <select class="form-control" id="Gender" name = "Gender" required="required" placeholder="Gender">
            <option value="1">masculino</option>
            <option value="0">femenino</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="ever_married">¿Estás casado o has estado casado antes?</label>
          <select class="form-control" id="ever_married" name = "ever_married" required="required" placeholder="ever_married">
            <option value="1">si</option>
            <option value="0">no</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="work_type">¿Cuál es tu tipo de trabajo?</label>
          <select class="form-control" id="work_type" name = "work_type" required="required" placeholder="work type">
            <option value="0">Privado</option>
            <option value="1">Trabajadores por cuenta propia</option>
            <option value="2">Trabajo en el gobierno</option>
            <option value="3">Cuidar a los niños</option>
            <option value="4">Nunca funcionó</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="Residence_type">Residence type</label>
          <select class="form-control" id="Residence_type" name = "Residence_type" required="required" >
            <option value="1">Urbano</option>
            <option value="0">Rural</option>
          </select>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <label for="smoking_status">¿Usted fuma?</label>
          <select class="form-control" id="Smoking_status" name = "Smoking_status" required="required" placeholder="Smokingstatus">
            <option value="0">nunca fumé</option>
            <option value="1">algunas veces </option>
            <option value="2">Anteriormente he fumado</option>
            <option value="3">Fumo regularmente</option>
          </select>
        </div>
    </div>

   
    <br>
    <br>
    <br>
    <div class="col-md-4 col-md-offset-4 text-center">
         <button type="submit" class="btn btn-success" value="submit">Predecir</button>
    </div>
   
    
</form>
</div>
 <br>
  <br>
  <br>

{% endblock %}
