{% extends "disease_page.html" %}
{% block page %}
<br>
<br>
<br>
<div id="disease_page">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-delay="0.5s">
				<h3>Accidente Cerebrovascular</h3>
				<h4>Descripcion General</h4>
				<p>Un accidente cerebrovascular ocurre cuando el suministro de sangre a una parte de tu cerebro se interrumpe o se reduce, impidiendo que el tejido cerebral reciba oxígeno y nutrientes. Las células cerebrales comienzan a morir en cuestión de minutos.</p>

				<p>Un accidente cerebrovascular es una emergencia médica, y un tratamiento rápido es crucial. Actuar temprano puede reducir el daño cerebral y otras complicaciones.</p>

				<p>La buena noticia es que ahora mueren muchos menos personas por accidentes cerebrovasculares que en el pasado. Los tratamientos efectivos también pueden ayudar a prevenir la discapacidad causada por un accidente cerebrovascular.</p>

			</div>
			<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
				<img class="ill_image" src="./static/images/disease_img/thestroke1.jpg">
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-sm-6 wow fadeInRight" data-wow-delay="0.5s">
				<h4>Sintomas</h4>
				<p>Si usted o alguien que lo acompaña puede estar sufriendo un accidente cerebrovascular, preste especial atención al momento en que comenzaron los síntomas. Algunas opciones de tratamiento son más eficaces cuando se administran poco después de que comienza el accidente cerebrovascular.
				Los signos y síntomas de un accidente cerebrovascular incluyen:
				</p>
			    <ul>
				<li>Problemas para hablar y comprender lo que dicen los demás. Puedes experimentar confusión, dificultad para articular palabras o problemas para entender el habla.</li>
				<li>Parálisis o entumecimiento de la cara, brazo o pierna. Puedes desarrollar un entumecimiento repentino, debilidad o parálisis en la cara, brazo o pierna.</li>
				<li>Problemas para ver en uno o ambos ojos. Puedes experimentar de repente visión borrosa, oscurecida o doble en uno o ambos ojos.</li>
				<li>Dolor de cabeza. Un dolor de cabeza repentino y severo, que puede ir acompañado de vómitos, mareos o pérdida de la conciencia, podría indicar que estás teniendo un accidente cerebrovascular.</li>
				<li>Problemas para caminar. Puedes tropezar o perder el equilibrio. También puedes tener mareos repentinos o una pérdida de coordinación.</li>
					
			    </ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 wow fadeInRight" style="display: inline-block;vertical-align: middle;" data-wow-delay="0.5s">
				<h3>Modelo</h3>
				<p>Para realizar el diagnóstico es necesario ingresar la siguiente información:</p>
				<ul>
					<li>edad: edad del paciente</li>
					<li>género: Masculino, Femenino u Otro</li>
					<li>alguna_vez_casado: No o Sí</li>
					<li>tipo_de_trabajo: guardería infantil, Trabajo gubernamental, Nunca_trabajó, Privado, Autónomo</li>
					<li>tipo_de_residencia: Rural o Urbana</li>
					<li>estado_de_fumador: fumó anteriormente, nunca fumó, fuma, a veces</li>
					<li>hipertensión: sí o no</li>
					<li>enfermedad_cardiaca: sí o no</li>
					<li>nivel_promedio_de_glucosa: nivel promedio de glucosa en sangre</li>

				</ul>
			</div>
			
			<div class="col-md-6 col-sm-6  wow fadeInRight" data-wow-delay="0.5s">
				<div class="flex-wrapper">
				  <div class="single-chart">
				    <svg viewBox="0 0 36 36" class="circular-chart orange">
				      <path class="circle-bg"
				        d="M18 2.0845
				          a 15.9155 15.9155 0 0 1 0 31.831
				          a 15.9155 15.9155 0 0 1 0 -31.831"
				      />
				      <path class="circle"
				        stroke-dasharray="86, 100"
				        d="M18 2.0845
				          a 15.9155 15.9155 0 0 1 0 31.831
				          a 15.9155 15.9155 0 0 1 0 -31.831"
				      />
				      <text x="18" y="20.35" class="percentage">81%</text>
				    </svg>
				    <h4 style="text-align: center;">Precision</h4>
				  </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
	<br>
	<div class="prediction text-center">
	    <a href="/stroke_form" class="smoothScroll btn btn-success wow fadeInDown" data-wow-delay="2000">Predecir</a>
  	</div>
  	<br>
  	<br>
  	<br>
  	<br>
	

</div>


		

{% endblock %}
